/* 
  *******************
  Basic Style
  ********************
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */

:root {
  --white: #fafafa;
  --violet: #e2d8fd;
  --dark-blue: #16044a;
  --gray1: #e1e1e1;
  --gray2: #6a6a6a;
}

html,
body,
.main-container {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem; /* 1.6 * 16px =  */
  background-color: var(--violet);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* 
  *******************
  Main container style
  ********************
*/

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scene {
  width: 90%;
  max-width: 35rem;
  height: 20rem;
  margin: 0 auto;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  margin: 0 auto;
  border-radius: 10%;
  box-shadow: -15px 20px 20px rgba(22, 4, 74, 0.15);
  background-color: var(--dark-blue);
}

.card:hover {
  cursor: pointer;
}

.card__front,
.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card__front {
  padding: 0 2rem;
}
.card__logo {
  width: 7rem;
  height: 7rem;
  margin-top: 1rem;
}

.card__number {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.number-group,
.card__holder__name,
.card__expiration__date {
  font-family: "Courier New", Courier, monospace;
  font-size: 2.3rem;
  text-shadow: 0 1.2px var(--gray2);
  color: var(--white);
  letter-spacing: 1px;
}

.card__details {
  display: flex;
  justify-content: space-between;
}

.card__holder,
.card__expiration {
  display: flex;
  flex-direction: column;
}

.card__holder__title,
.card__expiration__title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--white);
  opacity: 0.7;
  font-size: 1.3rem;
}

.card__holder__name,
.card__expiration__date {
  text-transform: uppercase;
}